body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table-row-selected {
  background-color: #FFF68F !important;
}

.ant-table-cell-row-hover {
  background-color: #CCDAFF !important;
}

.map-container {
  height: 100vh;
  z-index: 0;
}

.routes-title {
  font-weight: bold;
  text-align: center;
}

.waypointss-title {
  font-weight: bold;
}

.routes-container {
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 1;
}